.order {
  /*box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.30);*/
  border-bottom: #EEEEEE 2px solid;
  word-break: break-all;
}

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #376AFF;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.add-button a {
  color: white;
}

.add-button a:hover {
  color: #EEEEEE;
}
