<div class="col-md-6 offset-md-3">

  <div *ngIf="orders.length > 0; else empty">

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let order of orders">

        <div>{{ order | json }}</div>
        <!--<div class="col-md-12 no-padding">
          <div class="row">
            <div class="col-sm-3">
              <img class="product-picture" src="{{ product.imageUrl }}">
            </div>
            <div class="col-sm-9 text-center margin-top-20">
              <h4><strong>{{ (priceSelected / product.price) | number : '1.0-0' }}</strong></h4>
              <div *ngIf="(priceSelected / product.price) >= 2; else notPlurial">
                <h4>{{ product.plurialName }}</h4>
              </div>
              <ng-template #notPlurial><h4 >{{ product.name }}</h4></ng-template>
            </div>
          </div>
        </div>-->


      </li>
    </ul>
  </div>

  <ng-template #empty>
    <div class="row margin-top-50">
      <div class="col-md-8 offset-md-2 text-center">
        <div class="content">
          <p class="text-muted">Aucune commande</p>
        </div>
      </div>
    </div>
  </ng-template>

</div>



